<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>icarus</name>
<type>edit</type>
<author>Alberto Pettarin</author>
<description>icarus is a Sigil plugin to create EPUB 3 Audio-eBooks</description>
<engine>python3.4</engine>
<engine>python2.7</engine>
<version>0.0.1</version>
<oslist>osx,win,unx</oslist>
</plugin>
